.link1{
    text-decoration: none;
    color: black;
}
.link1:hover{
    color: #0d6ef7;
}
.ratinng{
    width: 60px;
    height: 35px;
    background-color: green;
    font-weight: bold;
}
.linkHome{
    text-decoration: none;
    color: black;
}
.linkHome:hover{
    color: #0d6efd;
    transition: .5s;
    transform: scale(1.01);
}